/*
Global Styles for all components
*/

:root {
  --asob-red: #E81648;
  --asob-red-dark: #AD0F35;
  --btmi-green: #56af5b;
  --btmi-green-dark: #3d8041;
  --jr-purple: #a839db;
  --jr-purple-dark: #812da8;
  --av-blue: #19dae7;
  --av-blue-dark: #129ea8;

}


/*  Font Families and common panel text */
@font-face {
  font-family: ManlyMenBB;
  src: url("./assets/fonts/ManlyMenBB_bold.otf") format("opentype");
}

@font-face {
  font-family: Cabin;
  src: url("./assets/fonts/Cabin-Regular.ttf") format("truetype");
}

.basic-panel-text {
  font-family: Cabin;
  font-size: 1.3em;
  white-space: pre-line;
}


/* Top panel styles for Band, Album, and Song components */
.panel-top {
  background-image: linear-gradient(var(--asob-red), var(--asob-red-dark));
  padding: 1em;
  margin: 0 8.5em 0 8.5em;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-top.asob {
  background-image: linear-gradient(var(--asob-red), var(--asob-red-dark));
}

.panel-top.btmi {
  background-image: linear-gradient(var(--btmi-green), var(--btmi-green-dark));
}

.panel-top.jr {
  background-image: linear-gradient(var(--jr-purple), var(--jr-purple-dark));
}

.panel-top.av {
  background-image: linear-gradient(var(--av-blue), var(--av-blue-dark));
}

.panel-header {
  max-height: 7vh;
  margin-left: .8em;
}

.panel-background {
  background-image: url("./assets/old_wall.png");
  background-repeat: repeat;
  padding: 2.5em 5em 2.5em 5em;
  margin: 0 10em 0 10em;
  z-index: -1;
  position: relative;
  border: var(--asob-red-dark) .3em solid;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  display: flex;
}

.panel-background.asob {
  border: var(--asob-red-dark) .3em solid;
}

.panel-background.btmi {
  border: var(--btmi-green-dark) .3em solid;
}

.panel-background.jr {
  border: var(--jr-purple-dark) .3em solid;
}

.panel-background.av {
  border: var(--av-blue-dark) .3em solid;
}


/* Styles used for dynamic collapsible panels */
.collapsible-panel {
  background-image: linear-gradient(var(--asob-red), var(--asob-red-dark));
  padding: .8em;
  margin: 0em 8.5em 0 8.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.collapsible-panel.asob {
  background-image: linear-gradient(var(--asob-red), var(--asob-red-dark));
}

.collapsible-panel.btmi {
  background-image: linear-gradient(var(--btmi-green), var(--btmi-green-dark));
}

.collapsible-panel.jr {
  background-image: linear-gradient(var(--jr-purple), var(--jr-purple-dark));
}

.collapsible-panel.av {
  background-image: linear-gradient(var(--av-blue), var(--av-blue-dark));
}

.collapsible-panel:hover {
  transform: scale(1.05);
}

.collapsible-panel-header {
  max-height: 7vh;
  margin-left: .8em;
}

.collapsible-panel-chevron {
  max-height: 5vh;
  margin-left: .3em;
  transform: rotate(90deg);

  transition-property: all;
  transition-duration: .3s;
}

.collapsible-panel-chevron.closed {
  transform: rotate(0deg);
}

.collapsible-panel-background {
  background-image: url("./assets/old_wall.png");
  background-repeat: repeat;
  padding: 2em;
  margin: -1em 10em .5em 10em;
  z-index: -1;
  border: var(--asob-red-dark) .3em solid;
  border-radius: 5px;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .3s;
}

.collapsible-panel-background.asob {
  border: var(--asob-red-dark) .3em solid;
}

.collapsible-panel-background.btmi {
  border: var(--btmi-green-dark) .3em solid;
}

.collapsible-panel-background.jr {
  border: var(--jr-purple-dark) .3em solid;
}

.collapsible-panel-background.av {
  border: var(--av-blue-dark) .3em solid;
}

.collapsible-panel-background.closed {
  max-height: 0vh;
  padding: 0;
}


/* Back arrow used on all top level panels */
.back-flex-group {
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
  flex: 1;
}

.back-arrow-container {
  position: relative;
}

.back-arrow {
  max-height: 5vh;
}

.back-arrow-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
  max-height: 5vh;
}

.back-arrow-hover:hover {
  opacity: 1;
  max-height: 5vh;
}

.end-flex-group {
  flex: 1;
}


/* Grow Shadow used to make elements pop */
.hvr-grow-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.hvr-grow-shadow-fast {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0) rotate(0deg);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.15s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow-fast:hover,
.hvr-grow-shadow-fast:focus,
.hvr-grow-shadow-fast:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.10);
  transform: scale(1.10) rotate(-3deg);
}
